/*
GLOBAL
=======================================
*/

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: #222;
	background-color: #faebd7;
	line-height: 1.5em;
}
.normal-centered-text {
	text-align: center;
	font-size: 1.75em;
	color: #111;
}
.centered-button-div {
	text-align: center;
}
.small-centered-text {
	text-align: center;
}
.button-top-margin {
	margin-top: 5%;
}

/*
LANDING-PAGE
=======================================
*/

.welcome,
.landing-question-p,
.switch-p,
.login-button {
	margin: 6.3% auto;
}
.welcome-h1 {
	font-weight: 300;
	text-align: center;
	font-size: 2.75em;
}
.welcome-span {
	font-family: 'Dancing Script', cursive;
	font-size: 1.5em;
	margin: 5px;
	color: #fd5236;
}
.landing-question-p {
	margin-top: 0;
}
.sign-up-button,
.login-button {
	width: 300px;
	height: 50px;
	background-color: #faebd7;
	border: 2px solid #fd5236;
	border-radius: 5px;
	color: #fd5236;
	transition: .5s;
	font-weight: 400;
}
.sign-up-button:focus,
.login-button:focus {
	outline: none;
	cursor: pointer;
}
.sign-up-button:hover,
.login-button:hover {
	background-color: #fd5236;
	color: #faebd7;
	transition: .5s;
	font-weight: 300;
}
.login-button {
	margin-bottom: 0;
}
.login {
	margin-top: 7%;
}
.fan-signup {
	margin-top: 2%;
}
.login-form,
.login-info,
.fan-signup-form,
.fan-signup-info,
.musician-signup-form,
.musician-signup-info {
	text-align: center;
	border: 2px solid #e9dac6;
	border-radius: 5px;
	margin: auto;
	padding: 5% 0;
}
.login-info,
.fan-signup-info,
.musician-signup-info {
	padding: 2.33% 0;
}
.username,
.password,
.name,
.email,
.bandname {
	background-color: #faebd7;
	display: block;
	margin: auto;
	border: 2px solid #fd5236;
	border-radius: 5px;
	width: 80%;
	height: 50px;
	padding: 5px;
}
.username:focus,
.password:focus,
.name:focus,
.email:focus,
.bandname:focus {
	outline: none;
}
.username,
.name,
.email,
.password-fan,
.password-musician,
.bandname {
	margin-bottom: 1%;
}
.login-info-p,
.fan-signup-info-p,
.musician-signup-info-p {
	font-size: 1.2em;
	padding: 2%;
}
